@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Josefin+Slab:wght@300;400;500;600;700&display=swap");

html {
    height: 62.5%;
}

:root {
    --primary: rgb(80, 131, 233);
    --secondary: #fdfd96;
    --danger: rgb(236, 109, 109);
    --shadow: rgba(0, 0, 0, 0.2);
    --green: rgb(85, 175, 85);
    --black: #0d1821ff;
    --blue: #344966ff;
    --pink: #e6aaceff;
    --baby-powder: #f0f4efff;
    --sage: #bfcc94ff;
    --primaryColor: #68cdd6;
    --secondaryColor: #28b8c5;
    --khaki: #d2b9aa;
    --blackAshu: #070707;
    --white: #fffafa;
    --khakiLight: #f5eee9;
    --textColor: #2a8a93;
    --iconColor: #cccccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--white);
    color: var(--secondaryColor);
}
.body {
    padding: 20px 60px;
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    box-shadow: 2px 2px 10px var(--shadow);
    background-color: var(--khakiLight);
    position: fixed;
    width: 100%;
}
nav ul {
    display: flex;
    gap: 1rem;
}
nav ul li {
    list-style: none;
    cursor: pointer;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.form form {
    display: flex;
    flex-direction: column;
    /* background-color: var(--blue); */
    background-color: var(--khakiLight);
    gap: 1rem;
    width: 50%;
    padding: 2rem;
    box-shadow: 2px 2px 10px var(--shadow);
}

.form form .input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0.4rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 10px var(--shadow);
    background-color: var(--white);
}
#btnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.form form div button {
    padding: 0.8rem 5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: var(--secondaryColor);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.catDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catDate div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
select {
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 10px var(--shadow);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondaryColor);
    background-color: white;
}
#date {
    color: var(--secondaryColor);
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 10px var(--shadow);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
}
#date2 {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 10px var(--shadow);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
}

/* features */
#feature {
    margin: 6rem 0 2rem 0;
    padding: 0rem 0rem;
    display: flex;
    justify-content: space-between;
}

#feature input {
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    width: 20rem;
    box-shadow: 2px 2px 10px var(--shadow);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
}

#feature input::placeholder {
    font-size: 0.8rem;
}
#feature button {
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1rem;
}
#feature2 {
    padding: 0rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#feature2 input::placeholder {
    font-size: 0.8rem;
    opacity: 0.7;
}
#iconInput {
    background-color: wheat;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    width: 15rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 10px var(--shadow);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    opacity: 0.9;
    color: rgb(68, 68, 68);
}
#feature2 input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.9;
    color: rgb(68, 68, 68);
}
#feature2 svg{
    color: var(--secondaryColor);
}
#feature2 button {
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    background-color: var(--secondaryColor);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1rem;
}

/* table container */
.table_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    gap: 1rem;
    padding: 2rem;
    box-shadow: 2px 2px 10px var(--shadow);
}
table,
thead,
tr,
th {
    border-collapse: collapse;
    border-bottom: 1px solid black;
}
table,
tbody,
tr,
td {
    border-collapse: collapse;
    color: var(--primary);
}
table thead th {
    padding: 0.5rem;
}
table tbody tr {
    background-color: white;
}
table tbody tr td {
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid black;
}
table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}
table tbody tr:nth-child(odd) {
    background-color: white;
    cursor: pointer;
}
table tbody tr:hover {
    background-color: rgb(242, 242, 249);
    cursor: pointer;
}
table tbody tr td button {
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    background-color: var(--danger);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* modal */
.modal {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#active {
    display: flex;
}
.modal .modal_content {
    width: 40rem;
    background-color: white;
    padding: 2rem;
    background-color: var(--khakiLight);
    border-radius: 0.2rem;
    box-shadow: 2px 2px 10px var(--shadow);
}

.modal .modal_content h1 {
    margin-bottom: 2rem;
}

.modal .modal_content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35rem;
    padding: 2rem;
    box-shadow: 2px 2px 10px var(--shadow);
}

.modal .modal_content form .input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0.4rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 10px var(--shadow);
}
.modal .modal_content form div button {
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#confirm {
    background-color: var(--green);
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    color: #777;
    padding: 2rem 0;
}
footer div {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
footer div p a {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
}

#mobileCat {
    display: none;
}
.catDate {
    display: flex;
}

.cards_container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--khakiLight);
    padding: 1rem;
    width: 20rem;
    box-shadow: 2px 2px 10px var(--shadow);
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 0.5rem;
}
.card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.card-title {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
}
.card-title input {
    font-size: 30px;
    height: 30px;
    width: 25px;
    background-color: var(--pink);
    color: var(--pink);
}
.card-title h5 {
    font-size: 30px;
    color: var(--khaki);
    font-weight: bold;
    text-transform: uppercase;
}
.card_p {
    color: var(--khaki);
    font-size: 20px;
}
.card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--secondaryColor);
}
.card-text p:nth-child(even) {
    font-family: "Josefin Slab", sans-serif;
}
.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#update {
    padding: 0.5rem 3rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: var(--sage);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#delete {
    padding: 0.5rem 3rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: var(--danger);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
/* media queries */
@media screen and (max-width: 1110px) {
    .form form {
        width: 70%;
    }
}
@media screen and (max-width: 770px) {
    nav {
        justify-content: space-between;
        padding: 1rem 2rem;
    }
    .catDate {
        display: none;
    }
    .body {
        padding: 20px 20px;
    }
    .form form {
        width: 90%;
    }
    .catDate {
        flex-direction: column;
        gap: 20px;
    }
    .catDate div:last-child {
        display: flex;
        gap: 40px;
    }
    .table_container {
        overflow: scroll;
    }
    .table_container::-webkit-scrollbar {
        display: none;
    }
    #feature {
        flex-direction: column;
        gap: 1rem;
    }
    #feature input {
        width: 100%;
        margin-bottom: 10px;
    }
    #sortFilter {
        justify-content: space-between;
    }
    #feature button {
        margin-left: 0;
    }
    .modal .modal_content {
        width: 20rem;
        padding: 2rem 1rem;
    }
    .modal .modal_content form {
        width: 18rem;
        padding: 0.5rem;
    }
    #mobileCat {
        display: flex;
    }
    #iconInput{
        width: 10rem;
    }
    #feature2 button{
        padding: 0.5rem 0.5rem;
    }
    .cards_container {
        justify-content: center;
        align-items: center;
    }
    /* .modal .modal_content form .input{
        width: 20rem;
    } */
}
